dnsZone: "{{ DNS_ZONE }}"
azure:
  clientId: "{{ AZURE_CLIENT_ID }}"
  clientSecret: "{{ AZURE_CLIENT_SECRET }}"
  subscriptionId: "{{ AZURE_SUBSCRIPTION_ID }}"
  tenantId: "{{ AZURE_TENANT_ID }}"
  resourceGroup: "{{ RESOURCE_GROUP_NAME }}"
email: "fake@gmail.com"